# Ignorar arquivos de compilação Python
*.pyc
*.pyo
__pycache__/

# Ignorar arquivos de log
*.log
*/logs

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar ambientes virtuais Python
venv/
.venv

# Ignorar pastas de dados locais
aula_1_banco_de_dados/data/
data/

# Ignorar variáveis de ambiente, incluindo credenciais
.env

# Ignorar arquivos do Power BI
*.pbix

# ---------------------------------------------------
# Ignorar arquivos gerados pelo dbt
# ---------------------------------------------------
target/
dbt_packages/
dbt_modules/
analyses/
seeds/
macros/
logs/
snapshots/
tests/
.user.yml
dbt_project.yml